<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
  <test name="Amazon Test">
      <parameter name="url" value="https://www.amazon.com/"/>
      <parameter name="browser" value="Chrome"/>
      <classes>
      <class name="TestNGEcommerse.AmazonTest"/>
      </classes>
  </test> <!-- Test --> 
   
   <test name="Google Test">
      <parameter name="url" value="https://www.google.com/"/>
       <parameter name="browser" value="Firefox"/>
      <classes>
      <class name="TestNGEcommerse.GoogleTest"/>
      </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->